<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {
  class: 'default-form'
}, defaults: {
  wrapper_html: { class: 'default-wrapper-form' },
  input_html: { class: 'custom-input' }
}) do |f| %>
  <%= render 'sessions/flashes' %>

  <input type="hidden" name="resource" value="<%=resource.class.to_s %>" >
  <div class="flex flex-col space-y-2" id="divemail">
    <div class="flex flex-col space-y-2">
      <%= f.label :email, class: 'text-sm' %>

      <div class="flex flex-row bg-gray-100 p-4 space-x-2">
        <%= image_tag 'icons/feather_mail.svg', alt: 'Ícone e-mail' %>
        <%= f.input :email, required: true, autofocus: true, placeholder: 'Digite seu e-mail', label: false, input_html: { id: "getEmail"} %>
      </div>
      <input type="hidden" id="optdone" />
      <span id="msg" class="text-red-600"></span>
      <span id="msgloading" class="text-blue-600"></span>
    </div>
  </div>

  <div class="flex flex-col space-y-2 hidden" id="divpassword">
    <div class="flex flex-col space-y-2">
      <%= f.label :password, class: 'text-sm' %>

      <div class="flex flex-row bg-gray-100 p-4 space-x-2">
        <%= image_tag 'icons/feather_lock.svg', alt: 'Ícone senha' %>
        <%= f.input :password, required: true, placeholder: 'Digite sua senha', label: false, input_html: { id: "inputpasswordlock" } %>
        <%= image_tag 'icons/feather_eye_off.svg', alt: 'Ícone bloqueio de senha', class: "lock_password hidden", id: "lock_password_off" %>
        <%= image_tag 'icons/feather_eye.svg', alt: 'Ícone bloqueio de senha', class: "lock_password", id: "lock_password_on" %>
      </div>
    </div>

    <%= f.input :remember_me, as: :boolean, input_html: {
      class: 'mr-2'
    } if devise_mapping.rememberable? %>
  </div>

  <div class="flex flex-col space-y-2 hidden" id="divcode">
    <div class="flex flex-col space-y-2">
      <%= f.label "2FA", class: 'text-sm' %>
      <div class="flex flex-row bg-gray-100 p-4 space-x-2">
        <%= image_tag 'icons/feather_lock.svg', alt: 'Ícone senha' %>
        <%= f.input :otp_attempt,  required: true, placeholder: 'Informe o código', label: false, input_html: {id: "inputotpattemptlock"} %>
        <%= image_tag 'icons/feather_eye_off.svg', alt: 'Ícone bloqueio de senha', class: "lock_otp_attempt hidden", id: "lock_otp_attempt_off" %>
        <%= image_tag 'icons/feather_eye.svg', alt: 'Ícone bloqueio de senha', class: "lock_otp_attempt", id: "lock_otp_attempt_on" %>
      </div>
    </div>
    <span id="msgcode" class="text-blue-600"></span>
  </div>


  <%= link_to "Navegue para a Senha", "#", class: "button", id: "btnGetEmail" %>
  <%= link_to "Próximo", "#", class: "button hidden", id: "divbtn" %>
  <%= f.button :submit, 'Acessar', class: 'button hidden', id: "submitbtn" %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p id="reset_password"><%= link_to "Recuperar senha?", new_password_path(resource_name), class: 'block py-0 text-center text-red-600 underline text-xs lg:text-base' %></p>
  <% end %>
  <p id="reset_opt" class="hidden">
    <%= f.button :submit,"Recuperar 2FA?", class: 'w-full text-center block py-0 text-center text-red-600 underline text-xs lg:text-base' %>
  </p>

<% end %>
