<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {
  class: 'default-form'
}, defaults: {
  wrapper_html: { class: 'default-wrapper-form' },
  input_html: { class: 'custom-input' }
}) do |f| %>
  <%= render 'sessions/flashes' %>


  <div class="flex flex-col space-y-2" id="divemail">
    <div class="flex flex-col space-y-2">
      <%= f.label :email, class: 'text-sm' %>

      <div class="flex flex-row bg-gray-100 p-4 space-x-2">
        <%= image_tag 'icons/feather_mail.svg', alt: 'Ícone e-mail' %>
        <%= f.input :email, required: true, autofocus: true, placeholder: 'Digite seu e-mail', label: false, input_html: { id: "getEmail"} %>
      </div>
      <input type="hidden" id="optdone" />
      <span id="msg" class="text-red-600"></span>
      <span id="msgloading" class="text-blue-600"></span>
    </div>
  </div>

  <div class="flex flex-col space-y-2 hidden" id="divpassword">
    <div class="flex flex-col space-y-2">
      <%= f.label :password, class: 'text-sm' %>

      <div class="flex flex-row bg-gray-100 p-4 space-x-2">
        <%= image_tag 'icons/feather_lock.svg', alt: 'Ícone senha' %>
        <%= f.input :password, required: true, placeholder: 'Digite sua senha', label: false, input_html: { id: "inputpasswordlock" } %>
        <%= image_tag 'icons/feather_eye_off.svg', alt: 'Ícone bloqueio de senha', class: "lock_password hidden", id: "lock_password_off" %>
        <%= image_tag 'icons/feather_eye.svg', alt: 'Ícone bloqueio de senha', class: "lock_password", id: "lock_password_on" %>
      </div>
    </div>

    <%= f.input :remember_me, as: :boolean, input_html: {
      class: 'mr-2'
    } if devise_mapping.rememberable? %>
  </div>

  <div class="flex flex-col space-y-2 hidden" id="divcode">
    <div class="flex flex-col space-y-2">
      <%= f.label "2FA", class: 'text-sm' %>
      <div class="flex flex-row bg-gray-100 p-4 space-x-2">
        <%= image_tag 'icons/feather_lock.svg', alt: 'Ícone senha' %>
        <%= f.input :otp_attempt,  required: true, placeholder: 'Informe o código', label: false, input_html: {id: "inputotpattemptlock"} %>
        <%= image_tag 'icons/feather_eye_off.svg', alt: 'Ícone bloqueio de senha', class: "lock_otp_attempt hidden", id: "lock_otp_attempt_off" %>
        <%= image_tag 'icons/feather_eye.svg', alt: 'Ícone bloqueio de senha', class: "lock_otp_attempt", id: "lock_otp_attempt_on" %>
      </div>
    </div>
    <span id="msgcode" class="text-blue-600"></span>
  </div>


  <%= link_to "Navegue para a Senha", "#", class: "button", id: "btnGetEmail" %>
  <%= link_to "Próximo", "#", class: "button hidden", id: "divbtn" %>
  <%= f.button :submit, 'Acessar', class: 'button hidden', id: "submitbtn" %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p id="reset_password"><%= link_to "Recuperar senha?", new_password_path(resource_name), class: 'block py-0 text-center text-red-600 underline text-xs lg:text-base' %></p>
  <% end %>
  <p id="reset_opt" class="hidden">
    <%= f.button :submit,"Recuperar 2FA?", class: 'w-full text-center block py-0 text-center text-red-600 underline text-xs lg:text-base' %>
  </p>

<% end %>

<script>
    $(document).ready(() => {

        $("#btnGetEmail").click((e) => {
            e.preventDefault()
            var email = $("#getEmail").val()

            if (email.length > 0) $("#msgloading").html("Carregando...")
            fetch(`/api/v1/opt?email=${email}&resource=<%=resource.class.to_s %>`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                return response.json().then(function (data) {
                    $("#optdone").val(data.opt)
                    $("#msgloading").addClass("hidden")
                    $("#btnGetEmail").addClass("hidden")
                    $("#divbtn").removeClass("hidden")
                    
                    if(!data.isUser){
                        $("#msg").html(data.msg)
                        $("#divpassword").addClass("hidden")
                        $("#divbtn").addClass("hidden")
                        $("#submitbtn").addClass("hidden")
                        return
                    }else{
                        $("#divpassword").removeClass("hidden")
                    }

                  
                    if(data.opt) {
                       $("#divbtn").removeClass("hidden")
                    }else{
      
                      $("#divbtn").addClass("hidden")
                      $("#submitbtn").removeClass("hidden")
                    }
                });
            })
        })

        $("#divbtn").click((e) => {
            e.preventDefault()
            $("#divemail").addClass("hidden")
            $("#divbtn").addClass("hidden")
            $("#reset_password").addClass("hidden")
            $("#divpassword").addClass("hidden")
            $("#divcode").removeClass("hidden")
            $("#reset_opt").removeClass("hidden")
            $("#submitbtn").removeClass("hidden")

            var optdone = $("#optdone").val()
            var email = $("#getEmail").val()
            fetch(`/api/v1/send_code?opt=${optdone}&email=${email}&resource=<%=resource.class.to_s %>`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    if(response === true) $("#msgcode").html("Enviamos o codigo para seu E-mail!!!")
            })
        })

        $(".lock_password").click((e) => {
            var _type = $("#inputpasswordlock").attr("type")

            if(_type == 'password'){
                $("#inputpasswordlock").attr("type", "text")
                $("#lock_password_off").removeClass("hidden")
                $("#lock_password_on").addClass("hidden")
            }else{
                $("#inputpasswordlock").attr("type", "password")
                $("#lock_password_on").removeClass("hidden")
                $("#lock_password_off").addClass("hidden")
            }
        })

        $(".lock_otp_attempt").click((e) => {
            var _type = $("#inputotpattemptlock").attr("type")

            if(_type == 'password'){
                $("#inputotpattemptlock").attr("type", "text")
                $("#lock_otp_attempt_off").removeClass("hidden")
                $("#lock_otp_attempt_on").addClass("hidden")
            }else{
                $("#inputotpattemptlock").attr("type", "password")
                $("#lock_otp_attempt_on").removeClass("hidden")
                $("#lock_otp_attempt_off").addClass("hidden")
            }
        })  

    })
</script>