<h2 class="text-xl">
  Recuperar senha
</h2>

<%= form_tag password_resets_path, method: :post,
  class: 'flex flex-col space-y-5 lg:space-y-8' do %>
  <div class="flex flex-col space-y-2">
    <div class="flex flex-col space-y-2">
      <%= label_tag :email, 'E-mail', class: 'text-sm' %>

      <div class="flex flex-row bg-gray-100 p-4 space-x-2">
        <%= image_tag 'icons/feather_mail.svg', alt: 'Ícone e-mail' %>

        <%= email_field_tag :email, params[:email], autofocus: true, placeholder: 'E-mail cadastrado', required: true,
          class: 'w-full bg-transparent text-slate-900 py-2 border-none focus:border-none focus:ring-0 outline-0 focus:outline-0 grow' %>
      </div>
    </div>
  </div>

  <%= submit_tag 'Receber e-mail de recuperação de senha',
    class: 'shrink grow text-center text-zinc-600 border rounded border-zinc-600 font-bold p-4 cursor-pointer mt-4 active:bg-green-400 active:text-white' %>
<% end %>   
