<h2><%= t('.title') %></h2>

<p>
  Olá <%= @medical_certificate.nome_funcionario %>,
</p>

<p>
  O atestado submetido em <%= l(@medical_certificate.created_at, format: :long) %> foi subscrito.
</p>

<h3>Informações gerais:</h3>

<ul>
  <li>
    <strong>Tipo de atestado:</strong>
    <%= @medical_certificate.tipo_de_atestado %>
  </li>

  <li>
    <strong>CID:</strong>
    <%= @medical_certificate.cid %>
  </li>
</ul>

<%= render 'see_more_details', recipient_role: @recipient_role %>
