<h2><%= t('.title') %></h2>

<p>
  Olá <%= @medical_certificate.nome_funcionario %>,
</p>

<p>
  Um atestado foi criado em <%= l(@medical_certificate.created_at, format: :long) %> e atribuído ao seu usuário.
</p>

<h3>Informações gerais:</h3>

<ul>
  <li>
    <strong>Tipo de atestado:</strong>
    <%= @medical_certificate.tipo_de_atestado %>
  </li>

  <li>
    <strong>CID:</strong>
    <%= @medical_certificate.cid %>
  </li>

  <li>
    <strong>Número de Registro Médico:</strong>
    <%= @medical_certificate.tipo_de_registro %> <%= @medical_certificate.numero_de_registro %>
  </li>

  <% if @medical_certificate.instituicao_de_saude.present? %>
    <li>
      <strong>Local de atendimento:</strong>
      <%= @medical_certificate.instituicao_de_saude %>

      <% full_address = full_address_for(@medical_certificate) %>
      <%- if full_address.present? %>
        <em>
          (<%= full_address_for(@medical_certificate) %>)
        </em>
      <% end %>
    </li>
  <% end %>

  <li>
    <strong>Tempo de afastamento:</strong>
    <%= @medical_certificate.tempo_de_dispensa %>
  </li>
</ul>

<%= render 'see_more_details', recipient_role: @recipient_role %>
