<%= render 'redesign/shared/modal' do %>
  <h3>Filtros</h3>

  <%= simple_form_for('', url: empresas_pages_path, method: :get,
    html: { class: 'gray-form' },
    defaults: {
      wrapper_html: { class: 'default-wrapper-form' },
      input_html: { class: 'custom-input' }
    }) do |f| %>

    <%= f.input :query, as: :hidden, input_html: { value: params[:query] } %>

    <div class="flex flex-col gap-4">
      <%= f.input :role,
        collection: [
          ['Empregador', 'employer'],
          ['Gestor', 'manager'],
          ['Funcionário', 'employee']
        ],
        selected: params[:role],
        prompt: 'Selecione um perfil',
        input_html: { class: 'js-select' },
        include_blank: true,
        required: false %>

      <%= f.input :user_status,
        collection: [
          ['Ativo', 'active'],
          ['Inativo', 'inactive']
        ],
        selected: params[:user_status],
        prompt: 'Selecione um status',
        input_html: { class: 'js-select' },
        include_blank: true,
        required: false %>

      <%= f.input :department,
        collection: @departments,
        selected: params[:department],
        prompt: 'Selecione o Departamento',
        input_html: { class: 'js-select' },
        include_blank: true,
        required: false %>

      <%= f.input :job_function,
        collection: @job_functions,
        selected: params[:job_function],
        prompt: 'Selecione o Cargo',
        input_html: { class: 'js-select' },
        include_blank: true,
        required: false %>

      <%= f.input :funcionario_lider_id,
          collection: lideres_by_empresa,
          selected: params[:funcionario_lider_id],
          prompt: 'Selecione o Lider Direto',
          input_html: { class: 'js-select' },
          include_blank: true,
          required: false %>

      <div class="filters-form">
        <div class="flex flex-row flex-wrap gap-4 mt-4">
          <%= link_to 'Limpar Filtros', empresas_pages_path, class: 'clear-filters-button' %>

          <%= f.button :submit, 'Filtrar', class: 'button' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
