<h2>Importar Funcionários</h2>

<p class="description">
  Aqui você pode cadastrar funcionários por planilha em Excel. Ideal para até 500 cadastros!
</p>

<% content_for :section_navbar do %>
  <li>
    <%= link_to 'Funcionários', empresas_pages_path %>
  </li>

  <li>
    <%= link_to 'Cadastro de Funcionário', new_employee_path %>
  </li>
  
  <li class="active">
    <%= link_to 'Importar Funcionários(as)', importar_funcionarios_empresas_pages_path %>
  </li>
<% end %>

<%= simple_form_for :employee, url: importar_funcionarios_create_empresas_pages_path, method: :post, html: {
  class: 'gray-form'
}, defaults: {
  wrapper_html: { class: 'default-wrapper-form' },
  input_html: { class: 'custom-input' }
} do |f| %>
  <%= f.input :file, as: :file, label: 'Selecione um arquivo', input_html: { class: 'form-control' } %>
  <%= f.button :submit, "Importar", class: 'button' %>
<% end %>
