  <div class="flex flex-col w-full md:w-2/3 md:flex-row gap-y-4 md:gap-y-0 md:gap-x-12 my-4">
    <%= form_tag atestados_path, method: :get, class: 'default-search hiddeninmodile' do %>
          <% if admin? || consultant? || collaborator? %>
            <%= hidden_field_tag :company_id, params[:company_id] %>
          <% end %>

          <% if admin? || company? || consultant? || collaborator? || (employee? && (current_user.employer? || current_user.manager?)) %>
            <%= hidden_field_tag :employee_id, params[:employee_id] %>
          <% end %>

          <%= hidden_field_tag :medical_certificate_type, params[:medical_certificate_type] %>
          <%= hidden_field_tag :physician_name, params[:physician_name] %>
          <%= hidden_field_tag :medical_specialty, params[:medical_specialty] %>
          <%= hidden_field_tag :icd, params[:icd] %>
          <%= hidden_field_tag :medical_institution, params[:medical_institution] %>

          <% if admin? || company? || consultant? || collaborator? || (employee? && (current_user.employer? || current_user.manager?)) %>
            <%= hidden_field_tag :origin, params[:origin] %>
            <%= hidden_field_tag :employee_status, params[:employee_status] %>
          <% end %>

          <%= hidden_field_tag :department, params[:department] %>
          <%= hidden_field_tag :job_function, params[:job_function] %>

          <%= text_field_tag :query, params[:query], class: 'w-2/3',
                             placeholder: 'Pesquisar por dados do atestado...' %>
      <%= button_tag class: 'icon' do %>
        <%= inline_svg 'icons/magnifier', alt: 'Buscar' %>
      <% end %>
    <% end %>

    <%= simple_form_for "", url: atestados_path, method: :get, html: { class: 'default-search simple-form-search hiddeninmodile'} do |f| %>
      <% if admin? || consultant? || collaborator? %>
        <%= hidden_field_tag :company_id, params[:company_id] %>
      <% end %>

      <% if admin? || company? || consultant? || collaborator? || (employee? && (current_user.employer? || current_user.manager?)) %>
        <%= hidden_field_tag :employee_id, params[:employee_id] %>
      <% end %>

      <%= hidden_field_tag :medical_certificate_type, params[:medical_certificate_type] %>
      <%= hidden_field_tag :physician_name, params[:physician_name] %>
      <%= hidden_field_tag :medical_specialty, params[:medical_specialty] %>
      <%= hidden_field_tag :icd, params[:icd] %>
      <%= hidden_field_tag :medical_institution, params[:medical_institution] %>

      <% if admin? || company? || consultant? || collaborator? || (employee? && (current_user.employer? || current_user.manager?)) %>
        <%= hidden_field_tag :origin, params[:origin] %>
        <%= hidden_field_tag :employee_status, params[:employee_status] %>
      <% end %>

      <%= hidden_field_tag :department, params[:department] %>
      <%= hidden_field_tag :job_function, params[:job_function] %>
      <div class="flex flex-row justify-end flex-wrap items-center gap-2 ">
        <div class="flex flex-row">
          <%= inline_svg 'icons/calendar', id: 'calendarIcon', class: 'icon cursor-pointer' %>
          <div class="flex flex-row items-center
          text-gray-800 bg-white border-solid-1 text-sm
          border-gray-800 border
          rounded-tr-md rounded-br-md relative -left-1">
            <%= f.input :range_start,
                        label: false,
                        placeholder: 'dd/mm/aa',
                        input_html: {
                          id: 'periodFrom',
                          class: 'custom-input bg-transparent text-sm w-[165px] text-center px-0',
                          autocomplete: 'off',
                          value: params[:range_start]
                        }
            %>
            até
            <%= f.input :range_end,
                        label: false,
                        placeholder: 'dd/mm/aa',
                        input_html: {
                          id: 'periodTo',
                          class: 'custom-input bg-transparent text-sm w-[165px] text-center px-0',
                          autocomplete: 'off',
                          value: params[:range_end]
                        }
            %>
          </div>
        </div>
      </div>
      <%= f.button :submit, 'Buscar', class: 'big-search-button' %>
    <% end %>

  </div>

  <script>
      $(function() {
          const options = {
              defaultDate: "-1w",
              showOtherMonths: true,
              selectOtherMonths: true,
              numberOfMonths: 2,
              showButtonPanel: true,
              changeMonth: false,
              changeYear: false,
              minDate: -380,
              maxDate: "+1D",
              dateFormat: 'dd/mm/yy',
              closeText:"Fechar",
              prevText:"&#x3C;Anterior",
              nextText:"Próximo&#x3E;",
              currentText:"Hoje",
              monthNames: [
                  "Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"
              ],
              monthNamesShort:[
                  "Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Nov","Dez"
              ],
              dayNames:[
                  "Domingo","Segunda-feira","Terça-feira","Quarta-feira","Quinta-feira","Sexta-feira","Sábado"
              ],
              dayNamesShort:["Dom","Seg","Ter","Qua","Qui","Sex","Sáb"],
              dayNamesMin:["Dom","Seg","Ter","Qua","Qui","Sex","Sáb"],
              weekHeader:"Sm",
              firstDay:1
          }

          var dateFormat = "dd/mm/yy",
            from = $("#periodFrom").datepicker(options).on("change", function() {
                to.datepicker("option", "minDate", getDate(this));
            }),
            to = $("#periodTo").datepicker(options).on("change", function() {
                from.datepicker("option", "maxDate", getDate(this));
            });

          function getDate(element) {
              var date;

              try {
                  date = $.datepicker.parseDate(dateFormat, element.value);
              } catch(error) {
                  date = null;
              }

              return date;
          }

          $("#calendarIcon").on("click", function(event) {
              $("#periodFrom").focus();
          });
      });
  </script>
