<div class="nav-elements">
  <li class="nav-item active">
    <%= link_to "Tutoriais", tutorials_path, class: "nav-link" %>
  </li>
  <li class="nav-item active">
    <%= link_to "Empresas", funcionarios_pages_path, class: "nav-link" %>
  </li>
  <li class="nav-item active">
    <%= link_to "Atestados Medicos", atestados_path, class: "nav-link" %>
  </li>
  <li class="nav-item active">
    <%= link_to "Aprovações", okays_path, class: "nav-link" %>
  </li>
</div>
<li class="nav-item dropdown">
  <%= profile_photo_for(current_consultant_team,
                        class: "avatar dropdown-toggle", id: "navbarDropdown",
                        data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "Atualizar Cadastro?", edit_consultant_team_registration_path, class: "dropdown-item" %>
    <%= link_to "Sair", destroy_consultant_team_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</li>
