<div class="nav-elements">
  <li class="nav-item active">
  <% unless current_funcionario&.funcionario_lgpd? %>
    <%= link_to "Aceitar LGPD", aceitar_lgpd_path, class: "nav-link" %>
    <%= link_to "Sair", destroy_funcionario_session_path, method: :delete, class: "dropdown-item" %>
    </li>
  <% else %>
    <div class="nav-elements">
      <li class="nav-item active">
        <%= link_to "Tutoriais", tutorials_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Novo Atestado", new_atestado_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Atestados Medicos", atestados_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Aprovações", okays_path, class: "nav-link" %>
      </li>
      <% unless current_funcionario.vinculos.last.empresa.bi_url.nil? %>
        <li class="nav-item active">
          <%= link_to "BI", current_funcionario.vinculos.last.empresa.bi_url, class: "nav-link", target: '_blank' %>
        </li>
      <% end %>
    </div>
  <% end %>
  <li class="nav-item dropdown">
    <%= profile_photo_for(current_funcionario,
                        class: "avatar dropdown-toggle", id: "navbarDropdown",
                        data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "Atualizar Cadastro?", edit_funcionario_registration_path, class: "dropdown-item" %>
    <%= link_to "Sair", destroy_funcionario_session_path, method: :delete, class: "dropdown-item" %>
  </div>
  </li>
