<div class="banner" style="background-image: url('<%= image_path('headers/background_4.jpg') %>');">
  <div class="banner-container">
    <%= link_to new_funcionario_session_path, class: "no-link" do %>
      <h1 class="main-title">
        Plataforma de Gestão dos Atestados Médicos <br/>
        para empresas e colaboradores(as)! <br/>
      </h1>
    <% end %>  
  </div>
</div>

<div class="home-background" style="background-image: url('<%= image_path('headers/background_5.jpg') %>');">
  <h1 class="benefits-title">Como enviar e monitorar atestados?</span></h1>

    <div class="cards">
      <%= link_to new_funcionario_session_path, class: "no-link" do %>
        <div class="card">
          <%= image_tag "undraw_Collaboration_re_vyau.svg" %>
          <h4 class="card-title">Cadastro</h4>
          <p class="card-subtitle">Dados pessoais, suas informações na empresa, Aceite do Termo de Uso e LGPD!</p>
        </div>
      <% end %>

      <%= link_to new_funcionario_session_path, class: "no-link" do %>
        <div class="card">
          <%= image_tag "undraw_Security_on_re_e491.svg" %>
          <h4 class="card-title">Envio de atestado</h4>
          <p class="card-subtitle">Tire uma foto, responda as perguntas e envie. A empresa irá receber em seguida!</p>
        </div>
      <% end %>

      <%= link_to new_funcionario_session_path, class: "no-link" do %>
        <div class="card">
          <%= image_tag "undraw_version_control_re_mg66.svg" %>
          <h4 class="card-title">Acompanhe a jornada</h4>
          <p class="card-subtitle">Aqui você encontra todos os seus atestados e fica sabendo quando foi aprovado!</p>
        </div>
      <% end %>
    </div>
</div>

