<div  class="row justify-center ml-4 hiddeninmodile">
  <%= link_to 'javascript:void(0);', class:
    "open-modal filter-button #{filtering_approvals? ? 'filtered' : ''}" do %>
    Filtrar

    <%= inline_svg 'icons/filter', alt: 'Filtrar', class: 'icon' %>
  <% end %>
</div>

<div  class="row justify-center w-full blockinmodile">
  <%= link_to 'javascript:void(0);', class:
    "open-modal filter-button #{filtering_approvals? ? 'filtered' : ''}" do %>
    Filtrar

    <%= inline_svg 'icons/filter', alt: 'Filtrar', class: 'icon' %>
  <% end %>
</div>

<%= render 'redesign/shared/modal' do %>
  <h3>Filtros</h3>

  <%= simple_form_for(
    '', url: okays_path, method: :get,
    html: { class: 'gray-form' },
    defaults: {
      wrapper_html: { class: 'default-wrapper-form' },
      input_html: { class: 'custom-input' }
    }) do |f| %>
    <%= f.input :query, as: :hidden, input_html: { value: params[:query] } %>

    <div class="flex flex-col gap-4">
      <% if admin? || consultant? || collaborator? %>
        <%= f.input :company_id,
          collection: @companies,
          label: 'Empresa',
          label_method: :razao_social,
          value_method: :id,
          include_blank: true,
          input_html: {
            class: 'js-select simple-select',
            onchange: '$("._employee_id").remove();$(this).closest("form").submit();'
          },
          selected: params[:company_id],
          prompt: 'Selecione uma empresa',
          required: false %>
      <% end %>

      <%= f.input :status,
        collection: [
          ['Pendente', 'pending'],
          ['Aprovado', 'approved'],
          ['Subscrito', 'annulled'],
          ['Editado', 'edited'],
          ['Revertido', 'reverted']
        ],
        selected: params[:status],
        prompt: 'Selecione o Status',
        input_html: { class: 'js-select' },
        required: false %>

      <% if admin? || company? || consultant? || collaborator? || (employee? && (current_user.employer?)) %>
        <%= f.input :employee_id,
          collection: @employees,
          selected: params[:employee_id],
          prompt: 'Selecione o funcionário solicitante',
          input_html: { class: 'js-select' },
          include_blank: true,
          required: false %>
      <% end %>

      <% if employee? && (current_user.manager?) %>
        <%= f.input :employee_id,
          collection: funcionarios_by_gestor,
          label_method: :nome,
          selected: params[:employee_id],
          prompt: 'Selecione o funcionário solicitante',
          input_html: { class: 'js-select' },
          include_blank: true,
          required: false %>
      <% end %>

      <%= f.input :origin,
        collection: [
          ['Empresa', 'empresa'],
          ['Funcionário', 'funcionario'],
          ['Gestor', 'gestor']
        ],
        selected: params[:origin],
        prompt: 'Selecione perfil Solicitante',
        input_html: { class: 'js-select' },
        required: false %>

      <div class="filters-form">
        <div class="flex flex-row flex-wrap gap-4 mt-4">
          <%= link_to 'Limpar Filtros', okays_path, class: 'clear-filters-button' %>

          <%= f.button :submit, 'Filtrar', class: 'button' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
